/*tag body que refere-se ao corpo do HTML*/
body{
    margin: 0;/*Distanciamento externo*/
    font-family: 'Open Sans', sans-serif;/*Fonte baixada, fonte  do HTML*/
    line-height: 1.5;/*Espaçamento entre linhas*/
}
/*Tag img para imagens*/
img{
    max-width: 100%;/*Define o máximo para largura*/
}
/*Tag div recebe o nome de container*/
.container{
    margin-right: auto;/*Centraliza para direita*/
    margin-left: auto;/*Centraliza para esquerda*/
    padding-left: 1em;/*Espaçamento interno para esquerda*/
    padding-right: 1em;/*Espaçamento interno para direita*/
}
/*tag header que refere-se à cabeçalho do HTML*/
.header{
    background-color: #fff;/*Cor de fundo*/
    width: 100%;/*Largura*/
}
/*tag a recebe o nome de .logo-text*/
.logo-text{
    text-transform: uppercase;/*Transforma todas as letras em maiúsculas*/
    background-color: #63c6ae;/*Cor de fundo*/
    font-size: 24px;/*Tamanho da fonte*/
    margin: 0;/*Distanciamento externo*/
    padding: 20px;/*Espaçamento interno*/
    display: block;/*Transforma em bloco*/
    text-decoration: none;/*Remove a linha que fica em baixo do link*/
    color: #fff;/*Cor de fonte*/
    font-weight: bold;/*Negrito*/
    float: left;/*Flutua para esquerda*/
}
/*tag nav recebe o nome de .header__nav*/
.header__nav{
    clear: left;/*Corrige ou limpar para esquerda*/
}
/*Acessa a ul(lista não-ordenada) com o apelido dado para a nav*/
.header__nav ul{
    margin: 0;/*Distanciamento externo*/
    padding: 0;/*Distanciamento interno*/
}
/*Acessa li(lista) com o apelido dado a nav*/
.header__nav li{
    list-style-type: none;/*Remove as bolinhas da lista*/
    background-color: #242c2c;/*Cor de fundo*/
    text-align: center;/*Centraliza o texto*/
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);/*Borda da parte de baixo*/
}
/*Acessa a(link) com apelido dado a nav*/
.header__nav a{
    text-decoration: none;/*Remove as linhas debaixo do link*/
    text-transform: uppercase;/*Transforma as letras em maiúsculas*/
    color: #586165;/*Cor do texto*/
    font-size: 14px;/*Tamanho da fonte*/
    font-weight: 600;/*Intensidade da fonte*/
    display: block;/*Transforma em bloco*/
    padding: 25px 0;/*Distanciamento interno*/
    transition: .8s ease;/*Transição de efeito ao passar a seta do mouse*/
}
/*Tag com efeito hover, que permite gerar um efeito ao passar a seta do mouse*/
.header__nav a:hover{
    color: #63c6ae;/*Cor da fonte*/
}
/*Tag section recebe o nome de .hero*/
.hero{
    height: 80vh;/*Altura em view port*/
    padding: 40px 20px;/*Espaçamento interno*/
    text-align: center;/*Centraliza o texto*/
    display: flex;/*Transforma em item */
    flex-direction: column;/*Transforma o objeto em coluna*/
    justify-content: center;/*Centraliza o objeto*/
    align-items: center;/*Transforma em um item e centraliza*/
    background:linear-gradient(45deg,white 50%, transparent 50%) left calc(50% + 20px) bottom no-repeat,
               linear-gradient(-45deg,white 50%, transparent 50%) left calc(50% - 20px) bottom no-repeat,
               url(../img/01.jpg);/*Importa a imagem e insere no HTML*/
    background-size: 40px 40px ,40px 40px ,cover;/*Ocupa toda a área*/
}
/*Tag h1 apelidado de .hero__title*/
.hero__title{
    background-color: #63c6ae;/*Cor de fundo*/
    color: white;/*Cor de fonte*/
    font-size: 28px;/*Tamanho da fonte*/
    font-weight: 600;/*Especifica a intensidade da fonte*/
    padding: 30px 20px;/*Espaçamento interno*/
    text-transform: uppercase;/*Transforma do texto em letra maiúscula*/
}
/*Tag p apelidado de .hero__text*/
.hero__text{
    background-color: #242a2c;/*Cor de fundo*/
    margin: 5px 30px 35px;/*Espaçamento externo*/
    color: white;/*Cor de fonte*/
    padding: 20px;/*Espaçamento interno*/
    font-size: 16px;/*Tamanho da fonte*/
}
/*tag a recebe o nome de .hero__btn*/
.hero__btn{
    border: 1px solid rgba(255, 255, 255, .3);/*Borda do bloco: tamanho modo cor*/
    background-color: rgba(0, 0, 0, .2);/*Cor de fundo*/
    border-radius: 5px;/*Arredonda as laterais do bloco*/
    padding: 15px 25px;/*Espaçamento interno*/
    display: inline-block;/*Transforma em bloco*/
    color: white;/*Cor da fonte*/
    text-decoration: none;/*Remove a parte debaixo do link*/
    font-size: 16px;/*Tamanho da fonte*/
    font-weight: 600;/*Especifica a intensidade da fonte*/
    text-transform: uppercase;/*Transforma do texto em letra maiúscula*/
}
/*Tag section recebe o nome .people-cards*/
.people-cards{
    margin-top: 2.5em;/*Espaçamento externo de cima*/
}
/*Tag article recebe o nome de .people-cards__card*/
.people-cards__card:hover{/*Efeito de passar o mouse*/
    outline: 5px solid #63c6ae;/*Contorno e não ocupa espaço*/
    outline-offset: -5px;/*Distância no eixo x*/
}
/*
Tag section recebe o nome de .people-cards__card
Acessa a img e aplica um efeito de passar a seta do mouse
*/
.people-cards__card:hover .people-cards__avatar img{
    transform: translateY(-50%);/*Caminha no eixo Y a imagem ou bloco*/
}
/*
Tag section recebe o nome de .people-cards__card
Acessa o h2 e o p e aplica um efeito hover de passar a seta do mouse
*/
.people-cards__card:hover .people-cards__title,
.people-cards__card:hover .people-cards__text{
    color: #63c6ae;/*Cor da fonte*/
}
/*Tag img recebe o nome .people-cards__image*/
.people-cards__image{
    width: 100%;/*Largura*/
}
/*Tag div recebe o nome .people-cards__avatar*/
.people-cards__avatar{
    margin: -55px auto;/*Espaçamento externo*/
    width: 88px;/*Largura*/
    height: 88px;/*Altura*/
    overflow: hidden;/*Corrige ou esconde o bloco ou imagem quando se sobrepoe*/
}
/*Tag div recebe o nome .people-cards__content*/
.people-cards__content{
    text-align: center;/*Centraliza o texto*/
    padding: 40px 25px 10px;/*Espaçamento interno*/
    border-left: 5px solid #dbe1e7;/*Borda da parte da esquerda*/
}
/*Tag h2 recebe o nome .people-cards__title*/
.people-cards__title{
    color: #737c85;/*Cor da fonte*/
    font-size: 21px;/*Tamanho da fonte*/
    font-weight: normal;/*Intensidade da fonte*/
}
/*Tag p recebe o nome .people-cards__text*/
.people-cards__text{
    color: #929da5;/*Cor da fonte*/
    font-size: 14px;/*Tamanho da fonte*/
}
/*Tag section recebe o nome de .content*/
.content{
    background-color: #f8f9f9;/*Cor de fundo*/
    padding: 20px 0 80px;/*Espaçamento interno*/
    border-top: 1px solid #e3e3e3;/*Borda da parte de cima do bloco ou imagem*/  
}
/*Acessando o h3 com a section apelidada de .content*/
.content h3{
    color: #737c85;/*Cor de fonte*/
    font-size: 21px;/*Tamanho de fonte*/
    padding-top: 40px;/*Distânciamento de cima interno*/
    font-weight: 400;/*Instensidade da fonte*/
}
/*Acessando o p com a section apelidada de .content*/
.content p{
    color: #929da5;/*Cor de fonte*/
    font-size: 14px;/*Tamanho de fonte*/
    word-spacing: 3px;/*Espaçamento entre palavras*/
}
/*tag a recebe o nome de .button*/
.button{
    padding: 15px 40px;/*Distanciamento interno*/
    border-radius: 3px;/*Arredonda as pontas do bloco ou imagem*/
    text-decoration: none;/*Remove as linhas debaixo do link*/
    font-weight: 600;/*Intensidade da fonte*/
    font-size: 15px;/*Tamanho da fonte*/
    margin-right: 15px;/*Espaçamento externo à direita*/
    display: inline-block;/*Transforma em bloco*/
    transition: ease .5s;/*transição de animação*/
}
/*tag a recebe o nome de .button*/
.button:hover{/*Efeito hover ao passar a seta do mouse*/
    background-color: #929da5;/*Cor de fonte*/
}
/*tag a recebe o nome de .button-primary*/
.button-primary{
    background-color: #69c6ae;/*Cor de fundo*/
    color: white;/*Cor de fonte*/
}
/*tag a recebe o nome de .button-secundary*/
.button-secundary{
    background-color: #455357;/*Cor de fundo*/
    color: white;/*Cor de fonte*/
}
/*Tag div recebe o nome de .last-articles__title*/
.last-articles__title{
    background-color: #63c6ae;/*Cor de fundo*/
    padding: 5px 0;/*Espaçamento interno*/
}
/*Acessando h2 com a div apelidada de .last-articles__title*/
.last-articles__title h2{
    font-size: 24px;/*Tamanho da fonte*/
    color: white;/*Cor da fonte*/
    text-transform: uppercase;/*Transforma todo texto em letras maiúsculas*/
    font-weight: 400;/*Intensidade da fonte*/
}
/*Tag div recebe o nome de .last-articles__thumbs*/
.last-articles__thumbs{
    display: grid;/*Sistema bidemensional de grid*/
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));/*Colunas: repete*/
    grid-auto-rows: auto;/*Linhas*/
    grid-gap: 0;/*Distanciamento entre grids*/

}
/*Acessando img com a div apelidada de .last-articles__thumbs*/
.last-articles__thumbs img{
    display: block;/*Transforma em bloco*/
    width: 100%;/*Largura*/
}
/*Tag div recebe o nome de .laptop-slider*/
.laptop-slider{
    background-color: #242a2c;/*Cor de fundo*/
    padding: 125px 0 100px;/*Espaçamento interno*/
    width: 100%;/*Largura*/
    overflow: auto;/*Coloca uma barra de rolagem  que adapta a janela do browser*/
}
/*Tag div recebe o nome de .slideshow*/
.slideshow{
    white-space: nowrap;/*Verifica a linha, neste caso, não permitirá quebra linha*/
}
/*Acessa a figure com a div apelidada de .slideshow*/
.slideshow figure{
    display: inline-block;/*Se comporta como bloco*/
}