@charset "UTF-8";/*Chama uma biblioteca para o html aceitar caracteres de acentos*/
/*Tag Principal*/
html{
    font-family: sans-serif;
}
/*Tag para parágrafos*/
h1,h2,h3,h4,h5,h6{
    font-family: "Oxygen";/*Importa fontes*/
}
/*Tag header recebe outro nome .clearfix:after*/
.clearfix:after{
   content: '';
   display: block;/*Transforma em bloco*/
   clear: both;
}
/*tag a recebe o nome de button*/
.button{
    display: inline-block;/*Transforma em bloco*/
    padding: .9em 2.5em;/*Espaçamento interno*/
    background-color: #58c4c4;/*Cor de fundo*/
    border-radius: 5px;/*Arrendonda as bordas do bloco*/
    color: white;/*Cor da fonte*/
    text-decoration: none;/*Remove a linha do link*/
}
/*Adiciona um efeito hover ao passar a seta do mouse em cima do bloco*/
.button:hover{
    background-color: #37a0a0;/*Cor de fundo*/
}
/*tag header recebe o nome de .top-header*/
.top-header{
    text-align: center;/*Alinha o texto no centro*/
}
/*tag img recebe o nome de .top-header-logo*/
.top-header-logo{
    margin: .5em;/*Espaçamento externo de 16px * .5em = 8*/
}
/*Tag nav recebe o nome de .top-nav*/
.top-nav{
    background-color: #612674;/*Cor de fundo*/
    text-align: center;/*Alinha o texto no centro*/
}
/*Acessa a ul que esta na nav*/
.top-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;/*Remove as bolinhas ou números da lista*/
}
/*Acessa a tag a que está dentro da nav e ul*/
.top-nav a{
    color: white;/*Cor do texto*/
    text-decoration: none;/*Remove a linha debaixo dos links*/
    display: block;/*Transforma uma linha em um bloco*/
    padding: 1em;/*Espaçamento interno do tamanho do elemento pai, 16px*/
}
/*Ao passar a seta do mouse, aplica a condição ou configuração que esta dentro da chave*/
.top-nav a:hover{
    background-color: #7c3792;
}
/*Tag section recebe o nome .top-content*/
.top-content{
    padding: 1em;/*Distanciamento interno*/
    text-align: center;/*Centraliza o texto*/
    background-color: #f6f6f6;/*Cor de fundo*/
}
/*Tag h1 recebe o nome de .top-content-title*/
.top-content-title{
    color: #612674;/*Cor de fonte*/
    font-size: 1.375em;/*Tamanho da fonte*//*22 / 16 = 1.375em*/
    margin: 1.375em;/*Disticiamento externo*/
}
/*Tag h2 recebe o nome de .top-content-subtitle*/
.top-content-subtitle{
    color: #a87bb7;/*Cor de fonte*/
    font-size: 1em;/*Tamanho da fonte*/
    line-height: 1.5;/*Distanciamento de altura da linha*/
}
/*Tag section recebe o nome .middle-content*/
.middle-content{
    padding: 2em;/*Espaçamento interno*/
    text-align: center;/*Centraliza o texto*/
    background-color: #f6f6f6;/*Cor de fonte*/
}
/*Tag h3 recebe o nome de .middle-content-title*/
.middle-content-title{
    font-size: 1.25em;/*Tamanho da fonte*/
    color: #652e78;/*Cor da fonte*/
    text-transform: uppercase;/*Todas as letras torna-se maiúsculas*/
}
/*Acessa a tag p que está no section*/
.middle-content p{
    line-height: 1.5;/*Espaçamento na altura das linhas*/
    color: #222;/*Cor da fonte*/
}
/*Acessa a span que esta dentro da section*/
.middle-content span[class^=icon]{/*Acessa o atributo que começa com icon*/
    font-size: 3.5em;/*Tamanho da fonte*/
    color: #652e78;/*Cor da fonte*/
}
/*O segundo section recebe o nome de .main-content*/
.main-content{
    padding: 2em;/*Espaçamento interno*/
}
/*Acessa o parágrafo que está na segunda section*/
.main-content p{
    line-height: 1.2;/*Espaçamento de altura entre as linhas*/
}
/*A tag article recebe o nome de .main-content-article*/
.main-content-article{
    margin-bottom: 3.5em;/*Espaçamento interno de baixo*/
}
/*O h3 recebe o nome de .main-content-title*/
.main-content-title{
    letter-spacing: .2em;/*Espaçamento entre as letras*/
    font-size: 1.25em;/*Tamanho da fonte*/
    color: #652e78;/*Cor da fonte*/
    text-transform: uppercase;/*Todas as letras torna-se maiúsculas*/
    font-weight: normal;/*Retira o negrito do texto*/
}
/*Tag span chamada de hidden*/
.hidden{
    width: 0;/*Largura*/
    height: 0;/*Altura*/
    overflow: hidden;/*Some as palavras entre as span*/
    opacity: 0;/*Opacidade*/
    display: block;/*Transforma em bloco*/
}
/*Tag footer recebe o nome de footer*/
.footer{
    background-color: #25303e;/*Cor de fundo*/
    color: #83969f;/*Cor de fonte*/
    text-align: center;/*Centraliza os ícones ou textos*/
    padding-bottom: 2em;/*Distanciamento interno de baixo*/
}
/*Tag ul recebe o nome de .footer-menushare*/
.footer-menushare{
    background-color: #303d4c;/*Cor de fundo*/
    padding: .5em;/*Distanciamento interno*/
}
/*Acessa  lista que esta dentro da ul*/
.footer-menushare li{
    display: inline-block;/*Transforma em bloco*/
    margin: 0 1em;/*Espaçamento interno*/
}
/*Acessa a tag a que está dentro ul*/
.footer-menushare a{
    font-size: 1.1em;/*Tamanho da fonte*/
    text-decoration: none;/*Retira as linhas debaixo dos links*/
    color: white;/*Cor da fonte*/
}
/**/
@media screen and (min-width: 48.75em){/*780px / 16px = 48.75em*/
    .top-header-logo{
        float: left;
    }
    .top-nav{
        background-color: transparent;
        float: right;
        margin-top: 28px;
    }
    .top-nav ul{
        margin: 0;
        padding: 0;
    }
    .top-nav li{
        display: inline-block;
    }
    .top-nav a{
        color: #713a84;
    }
    .top-nav a:hover{
        background-color: #e7d9fc;
    }
    .top-content{
        background-color: #521a66;
        color: white;
    }
    .top-content-title,.top-content-subtitle{
        color: white;
    }
}
